{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "plugins": ["eslint-plugin-flowtype"],
  "rules": {
    "no-underscore-dangle": 0,
    "semi": [2, "never"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-filename-extension": 0
  },
  "env": {
    "mocha": true
  }
}
